*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

@media (min-width: 1101px) {
  body {
    max-width: 1110px;
  }
}
@media (min-width: 640px) and (max-width: 800px) {
  body {
    max-width: 600px;
  }
}
@media (min-width: 801px) and (max-width: 1100px) {
  body {
    max-width: 750px;
  }
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 26px;
  color: hsl(236deg, 13%, 42%);
}

h1 {
  font-weight: 800;
  font-size: 4rem;
  line-height: 40px;
  color: hsl(240deg, 100%, 5%);
}
@media (min-width: 644px) {
  h1 {
    font-size: 5.6rem;
    line-height: 56px;
  }
}

h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 32px;
  color: hsl(35deg, 77%, 62%);
}
@media (min-width: 644px) {
  h2 {
    font-size: 4rem;
    line-height: 40px;
  }
}

h3 {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: hsl(36deg, 100%, 99%);
}

h4 {
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 24px;
  color: hsl(240deg, 100%, 5%);
}

.wrapper {
  padding: 1.6rem;
  margin: 0 auto;
}
@media (min-width: 644px) {
  .wrapper {
    padding: 0;
  }
}

.main-grid-layout {
  display: grid;
  gap: 6.4rem;
  grid-auto-columns: 1fr;
  grid-template-areas: "one" "two" "three";
  margin-top: 3.2rem;
  margin-bottom: 8rem;
}
@media (min-width: 644px) and (max-width: 1100px) {
  .main-grid-layout {
    grid-template-areas: "one one one" "two two two" "three three three";
    grid-column-gap: 3rem;
    grid-row-gap: 4rem;
    margin-bottom: 6rem;
  }
}
@media (min-width: 1150px) {
  .main-grid-layout {
    grid-template-areas: "one one two" "three three three";
    grid-column-gap: 3rem;
    grid-row-gap: 7rem;
    margin-bottom: 0;
  }
}

.btn {
  background-color: hsl(5deg, 85%, 63%);
  outline: none;
  border: none;
  color: hsl(36deg, 100%, 99%);
  letter-spacing: 4.375px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding: 1.3rem 3.5rem;
  transition: all 0.3s;
  cursor: pointer;
}
.btn:hover, .btn:active {
  background-color: hsl(240deg, 100%, 5%);
}

.header {
  margin-top: 2.8rem;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}
.header.active {
  overflow-x: visible;
}
@media (min-width: 644px) and (max-width: 1100px) {
  .header {
    margin-top: 4rem;
  }
}
@media (min-width: 1101px) {
  .header {
    margin-top: 9rem;
  }
}
.header__logo img {
  width: 45px;
}
@media (min-width: 644px) {
  .header__logo img {
    width: 65px;
  }
}

.navigation {
  position: absolute;
  width: 256px;
  right: -100%;
  top: 4rem;
  z-index: 10;
  background-color: #fff;
  transition: 0.7s;
}
.navigation.active {
  right: -20px;
}
@media (min-width: 450px) {
  .navigation {
    width: auto;
    position: static;
    height: auto;
  }
}
.navigation__list {
  display: flex;
  list-style: none;
  height: 100vh;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 8rem;
}
@media (min-width: 450px) {
  .navigation__list {
    flex-direction: row;
    gap: 4rem;
    height: auto;
    width: auto;
    margin-top: 0;
  }
}
.navigation__link {
  font-size: 1.8rem;
}
@media (min-width: 450px) {
  .navigation__link {
    font-size: 1.5rem;
  }
}
.navigation__link a {
  text-decoration: none;
  color: hsl(236deg, 13%, 42%);
  transition: all 0.4s;
}
.navigation__link a:hover,
.navigation__link a a:active {
  color: hsl(5deg, 85%, 63%);
}
.navigation__hamburger {
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 450px) {
  .navigation__hamburger {
    display: none;
  }
}
.navigation__hamburger.active .navigation__bar:nth-child(2) {
  opacity: 0;
}
.navigation__hamburger.active .navigation__bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.navigation__hamburger.active .navigation__bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
.navigation__bar {
  background-color: hsl(236deg, 13%, 42%);
  display: block;
  height: 2px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  width: 40px;
}

.main-article {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  grid-area: one;
}
@media (min-width: 644px) {
  .main-article__image {
    grid-column: span 2;
  }
}
@media (min-width: 644px) {
  .main-article__textcontent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}
.main-article__heading {
  margin-bottom: 1.6rem;
}
.main-article__paragraph {
  margin-bottom: 2.4rem;
}
@media (min-width: 644px) {
  .main-article__paragraph {
    margin-bottom: 2.9rem;
  }
}

.new-articles {
  background-color: hsl(240deg, 100%, 5%);
  padding: 2.4rem 2rem;
  grid-area: two;
}
.new-articles__preview {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid hsl(236deg, 13%, 42%);
}
.new-articles__preview:last-child {
  border-bottom: none;
}
.new-articles__link {
  text-decoration: none;
  margin-bottom: 0.8rem;
  margin-top: 3.8rem;
}
.new-articles__link h3 {
  transition: all 0.3s;
}
.new-articles__link h3:hover, .new-articles__link h3:active {
  color: hsl(35deg, 77%, 62%);
}
.new-articles__paragraph {
  margin-bottom: 2.9rem;
}

.zero-margin {
  margin-bottom: 0;
}

.top-articles {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  grid-area: three;
}
@media (min-width: 1100px) {
  .top-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.top-articles__container {
  display: flex;
  gap: 2.4rem;
}
.top-articles__image {
  max-width: 10rem;
}
.top-articles__textcontent {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.top-articles__number {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 32px;
  color: hsl(233deg, 8%, 79%);
}
.top-articles__link {
  text-decoration: none;
  transition: all 0.4s;
}
.top-articles__link h4 {
  transition: all 0.3s;
}
.top-articles__link h4:hover, .top-articles__link h4:active {
  color: hsl(5deg, 85%, 63%);
}/*# sourceMappingURL=main.css.map */